<div class="jumbotron jumbotron-fluid">
  <div class="container center">
    <h1 class="display-4">Welcome to my recipes</h1>
    <p class="lead">This are my fav recipes around the world.</p>
    <p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger btn-lg" %></p>
  </div>
</div>
