#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  // text-transform: uppercase;
  letter-spacing: -1px;
  font-weight:  bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('main-image.jpg');
  background-size: cover;
  background-position: bottom;
  height: 400px;
}
